@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.landing-pages {
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/21/97/86/1000_F_221978639_EyPBA9tuscYhW6rhaO5EiVzdG8hvQSgV.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.landing-pages .landing-background {
    background-color: rgba(253, 248, 248, 0.898);
}
.landing-pages h1 {
    line-height: 47px;
    font-weight: 400;
}

.landing-pages button {
    font-size: 20px;
    border: none;
    padding: 10px;
    background-color: rgba(67, 210, 255, 0.18);
    border-radius: 10px;
}

.landing-pages button a {
    text-decoration: none;
}

.landing-contents {
    margin: 0 150px;
    padding: 50px 0;
}

.landing-pages em {
    font-family: serif;
}

#team-members img {
    width: 50%;
    margin-left: 25%;
}

#team-members .social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#team-members .social-media img {
    width: 100%;
}

#team-members .dev-image {
    height: auto;
}

@media (max-width: 768px) {
    .landing-contents {
        margin: 100px 50px;
    }
}

@media (max-width: 480px) {
    .landing-contents {
        margin: 0 50px;
    }
}